# PROYECTO GRUPAL DGA

    GRUPO 2

    Integrantes:
        - Juan Pablo Heredia Castelló | jpheredia.edu@gmail.com

# 1. IMPORTACIÓN DE LIBRERÍAS

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 2. IMPORTACIÓN Y PRIMERA INSPECCIÓN DE DATOS

In [8]:
df = pd.read_csv("dga_dataset_safe.csv", sep=",", encoding="utf-8")

df.head()

       lenght         ngram_count             entropy      type
0  continuous          continuous          continuous  discrete
1         NaN                 NaN                 NaN     class
2        25.0  0.9030899869919435   4.053660689688185       dga
3        26.0  0.8450980400142568  3.9500637564362093       dga
4        12.0  2.9030899869919438   3.188721875540867       dga

In [7]:
df.tail()

      lenght         ngram_count             entropy   type
24070    7.0  7.3153824963149905  2.8073549220576046  legit
24071   14.0   39.85682442887054  3.2359263506290334  legit
24072   26.0  0.9030899869919435   4.286790198827112    dga
24073   10.0  12.978671778835801   3.121928094887362  legit
24074   27.0  0.3010299956639812   4.134336113194452    dga

Hay 2 valores en la columna "type" que son "discrete" y "class" que parecen ser una forma de clasificar el tipo de datos de dicha columna, se comprueba esto a continuación

In [24]:

# Contar la cantidad de valores "discrete" y "class" en la columna "type"
print("Discrete: ", (df["type"] == "discrete").sum())
print("Class: ", (df["type"] == "class").sum())

Discrete:  1
Class:  1

Como estos solo aparecen 1 vez, se pueden eliminar la columna "type"

In [26]:
# Eliminar las 2 primeras filas del dataset
df = df.iloc[2:].reset_index(drop=True) # Usar reset_index para que los cambios se guarden directamente en el dataframe

# Verificar que las filas se hayan eliminado correctamente
df.head()

  lenght         ngram_count             entropy   type
0   12.0  2.9030899869919438   3.188721875540867    dga
1    9.0  15.023867217706147    2.94770277922009  legit
2   10.0  24.764260381085812  2.9219280948873623  legit
3   34.0  0.9030899869919435  3.5617480476936567    dga
4   11.0  25.992512101388876   3.095795255000934  legit

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24071 entries, 0 to 24070
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lenght       24071 non-null  object
 1   ngram_count  24071 non-null  object
 2   entropy      24071 non-null  object
 3   type         24071 non-null  object
dtypes: object(4)
memory usage: 752.3+ KB